.footer-container{
    width: 99.85%;
    height: 34em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-anchor{
    width: 100%;
    height: 47px;
}

#footer-container-button{
    width: 100%;
    height: 47px;
    background-color: #4f2864;
    color: white;
    border-style: none;
}

#footer-container-button:hover{
    opacity: 0.9;
}

.footer-tile-container{
    width: 100%;
    height: 87%;
    background-color: #300047;
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(184, 179, 179);
    border-width: 1x;
}

.tile{
    width: 350px;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tile-heading{
    font-size: 18px;
    color: white;
    margin: 0px;
    margin-top: 40px;
}

#tile-anchor{
    color: #DDD;
    font-size: 14px;
    text-decoration: none;
}

#tile-anchor:hover{
    text-decoration: underline;
}

dl{
    line-height: 30px;
}

.footer-logo-language-country-selector{
    width: 100%;
    height: 130px;
    border-style: solid;
    background-color: #1f002e;
    display: flex;
    align-items: center;
}

#footer-logo{
    color: #eabfff;
    font-size: 35px;
    font-family: Caveat;
    text-shadow: 0px 0px 6px white;
    text-decoration: none;
}

select{
    padding: 8px;
}


